
*, *::after *::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family-roboto;
    background-color: $color-content-background;
    position: relative;
 }

nav {
    position: fixed;
    z-index: 100;
}

.container {
    width: 98%;
    height: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: $color-default-background;
}


/* Media */ 
@media screen and (max-width: 568px) {
    .nav--top {
        display: none;
    }

    .content {
        width: 100%;
    }
    
}