
*, *::after *::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family-roboto;
    background-color: $color-content-background;
    position: relative;
 }

nav {
    position: fixed;
    z-index: 100;
}

.nav--top {
    height: 60px;
    width: 100%;
    left: 190px;
    background-color: #FFF
}

/* Media */ 
@media screen and (max-width: 568px) {
    .nav--top {
        display: none;
    }

    .content {
        width: 100%;
    }
    
}