@mixin nav-side-border {
    border-left: 1px solid $color-nav-border;
}

@mixin border-bottom-gray {
    border-bottom: 2px solid $color-nav-border;
}

@mixin active-link {
    background-color: $color-nav-hover;
    border-left: 4px solid $color-accent;
}