/* General */

.content {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    transition: $transition-side-nav;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-content-font;
}

.--hamburger-toggled-content{
    left: 190px;
    width: calc(100% - 190px);
}

/* Media */ 

@media screen and (max-width: 568px) {
    .--hamburger-toggled-content{
        left: 0;
    }

    .content {
        width: 100vw;
    }

}