/* General */ 
.nav--top {
    height: 60px;
    width: calc(100% - 190px);
    left: 190px;
    background-color: $color-default-background;
    border-bottom: 1px solid $color-nav-border;
    display: flex;
    justify-content: flex-end;

    i {
        font-size: 18px;
    }
}

.nav--top__container {
    @include nav-side-border;
    display: flex;
    color: $color-nav-font-top;
    align-items: center;
    padding: 20px 15px;  
}


/* Wallet */ 

.nav--top__wallet {
    i {
        padding: 0 15px;
    }
}


/* Profile */

.nav--top__profile {
    p{
        font-size: 13px;
        color: $color-nav-profile;
    }

    i {
        padding-right: 10px;
    }
}




